main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#reader {
  width: 600px;
}
#result {
  text-align: center;
  font-size: 1.5rem;
}
#qr-shaded-region div:nth-child(1){
  width: 50% !important;
}
#qr-shaded-region div:nth-child(2){
  width: 50% !important;
}
#qr-shaded-region div:nth-child(3){
  width: 50% !important;
}
#qr-shaded-region div:nth-child(4){
  width: 50% !important;
}
#qr-shaded-region div:nth-child(5){
  height: 50% !important;
}
#qr-shaded-region div:nth-child(6){
  height: 55% !important;
}
#qr-shaded-region div:nth-child(7){
  height: 55% !important;
}
#qr-shaded-region div:nth-child(8){
  height: 50% !important;
}

#animated-line{
  -webkit-animation: MoveUpDown 2s linear infinite;
}

/* @-webkit-keyframes MoveUpDown {
  0%, 100%  {
      bottom: 710px;
  }
  50% { 
      bottom: 460px;
  }
} */

@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    top: 350px;
  }
  50% {
    top: 100px;
  }
}